<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.bysj.pleural.mapper.UserMapper">
    <sql id="Base_Column_List">id,username,password,telphone,age,sex,email,is_active,available,salt,role_id,locked,create_time,update_time</sql>
    <resultMap id="BaseResultMap" type="org.bysj.pleural.bean.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>
        <result column="email" property="email"/>
        <result column="sex" property="sex"/>
        <result column="telphone" property="telphone"/>
        <result column="salt" property="salt"/>
        <result column="role_id" property="roleId"/>
        <result column="locked" property="locked"/>
        <result column="available" property="available"/>
        <result column="is_active" property="isActive"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="saveUser" useGeneratedKeys="true" keyProperty="id" parameterType="org.bysj.pleural.bean.User">
        INSERT INTO sys_user(username,password,telphone,salt,role_id,age,email,sex,code)
        VALUES (#{username},#{password},#{telphone},#{salt},#{roleId},#{age},#{email},#{sex},#{code})
    </insert>


    <select id="findUserByUsername" resultType="org.bysj.pleural.bean.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_user t WHERE t.username=#{username}
    </select>

    <select id="listUsersPage" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/> from sys_user
    </select>


    <update id="changePasswordByUsername" parameterType="org.bysj.pleural.bean.User">
        UPDATE sys_user t SET t.password=#{password} WHERE t.username=#{username}
    </update>


    <update id="activeUser" parameterType="String">
        update sys_user t set t.is_active='YES' where t.code=#{code}
    </update>

    <select id="countUsers" resultType="java.lang.Integer">
        select count(1) from sys_user
    </select>

    <update id="batchDel" parameterType="java.util.List">

        update sys_user t set t.available = 'NO' where t.id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </update>

</mapper>